* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  flex-direction: column;
}
.main .hero {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
.main .hero .hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.main .hero .hero-left h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.main .hero .hero-left p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.main .hero .hero-left .btn {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.main .hero .hero-left .btn:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}
.main .hero .hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000;
}
.main .hero .hero-right img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 3rem;
  background-color: #fff;
  height: 5rem;
  width: 100%;
}
.navigation-menu a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}
.navigation-menu .menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  list-style: none;
}
.navigation-menu .menu-items .menu-item {
  margin: 0 1rem;
}
.navigation-menu .navbtn {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000;
}
.navigation-menu .navbtn:hover {
  border-bottom: 2px solid #000;
}

.product-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  position: relative;
  top: 5rem;
  margin: 0 auto;
}
.product-main-container .product-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
}
.product-main-container .product-grid-container .product-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
  padding: 3rem;
}
.product-main-container .product-grid-container .product-grid-item .img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.product-main-container .product-grid-container .product-grid-item .product-grid-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
.product-main-container .product-grid-container .product-grid-item .product-grid-item-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.product-main-container .product-grid-container .product-grid-item .product-grid-item-info p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.product-main-container .product-grid-container .product-grid-item .product-grid-item-info .btn {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.product-main-container .product-grid-container .product-grid-item .product-grid-item-info .btn:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

@media screen and (max-width: 768px) {
  .product-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .product-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=App.css.map */